<div class="rates-wrap">
  <span *ngFor="let item of rates | keyvalue" class="rate-item">
    <button (click)="onCurrencySelect(item)" [className]="to === item.key ? 'active' : ''">
      {{ item.key }}
    </button>
  </span>
</div>
