.rates-wrap {
    margin-top: 32px;
    text-align: center;
    .rate-item {
      display: inline-block;
      padding: 4px 8px;
  
      button {
        background: #384955;
        color: #fff;
        border: none;
        padding: 8px 16px;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.2s ease;
  
        &.active {
            background: #3587e7;
        }
  
        &:hover {
          background: #3587e7;
          box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.2);
        }
  
        &:focus, &:active {
          outline: none;
        }
      }
    }
  }
  