<div class="content">
  <div class="header">
    <h1 class="title">{{ title }}</h1>
    <span class="time">{{ getFormattedDate() }}</span>
  </div>
  <div class="input-wrap">
    <label>{{ from }}</label>
    <input type="text" [(ngModel)]="FromInput" (keyup)="onFromChange($event)" />
  </div>
  <app-shuffle></app-shuffle>
  <div class="input-wrap">
    <label>{{ to }}</label>
    <input type="text" [(ngModel)]="ToInput" (keyup)="onToChange($event)" />
  </div>

  <app-rates [rates]="rates" [to]="to" (onSelect)="setActiveCurrency($event)"></app-rates>
</div>
