.header {
  padding: 36px 0;

  h1 {
    margin-bottom: 4px;
  }
  .time {
    color: #94a6b8;
  }
}

.content {
  padding: 0 36px;
  max-width: 1100px;
  margin: 0 auto;
}

input[type='text'] {
  color: #94a6b8;
  border: none;
  border-bottom: 1px solid #dadada;
  padding: 16px 0;
  font-size: 32px;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out;

  &:focus {
    outline: none;
    color: #3488e7;
    border-bottom: 1px solid #3488e7;
    box-shadow: 0px -3px 0px #3488e7 inset;
  }
}

.input-wrap {
  display: inline-block;
  width: calc(50% - 60px);

  label {
    display: block;
    font-size: 24px;
  }
}

