.shuffle {
  background: #3488e7;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin: 0 30px;
  box-shadow: 0 0 0px 10px #e3ecf7;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 72px;;

  svg path[stroke] {
    stroke: #fff;
  }
}
