<span class="shuffle">
  <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0)">
      <path
        d="M17.3279 1.48651L21.3279 5.48651L17.3279 9.48651"
        stroke="black"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M3.32788 11.4865V9.48651C3.32788 8.42565 3.74931 7.40823 4.49945 6.65808C5.2496 5.90794 6.26701 5.48651 7.32788 5.48651H21.3279"
        stroke="black"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M7.32788 23.4865L3.32788 19.4865L7.32788 15.4865"
        stroke="black"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M21.3279 13.4865V15.4865C21.3279 16.5474 20.9065 17.5648 20.1563 18.3149C19.4062 19.0651 18.3887 19.4865 17.3279 19.4865H3.32788"
        stroke="black"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </g>
    <defs>
      <clipPath id="clip0">
        <rect width="24" height="24" fill="white" transform="translate(0.327881 0.486511)" />
      </clipPath>
    </defs>
  </svg>
</span>
