/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    background: #FDFDFE;    
    color: #384955;
    font-family: Arial, Helvetica, sans-serif;
}



